<h2 style="text-align: center;">Reactive Forms</h2>
<div>
  <p>login works! HERE</p>
  <button type="button" class="btn btn-primary" [routerLink]="['/first']">
    Go to first
  </button>
</div>

<div class="webdiv">
  <button class="gotowebsite" (click)="webpageclk()">Go To Responsive Website</button>
</div>

<form>
  <div class="col-md-4">
    <label class="form-label">First name</label>
    <input type="text" class="form-control">
    <div class="text-danger">
      looks good !
      <input type="file">
    </div>

  </div>
</form>